*{
  margin:0px;
  padding:0px;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 110%;
}

#root{
  text-align: center;
}
input[type="button"]{
    width: 100px;
    background: #ffffff;
    border: 1px solid #222;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

input[type="button"]:active{
    background: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.btnaction {
    background-color: #ffcc0e !important;
    font-family: Arial, Helvetica, sans-serif;
}